.top {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 3rem;
}
button {
  margin-right: 1rem;
}
.profile--card {
  padding: 1rem;
  margin: 2rem;
}
.profile--card--img {
  height: 200px;
  width: 200px;
}
.profile--card--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
